@keyframes blr {
    from {
        filter: blur(30px);
        transform: translateX(-1000px);
    }
    to {
        filter: blur(0px);
        transform: translateX(0);
    }
}

@keyframes blr2 {
    from {
        filter: blur(30px);
    }
    to {
        filter: blur(0px);
    }
}

@keyframes blr3 {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0);
    }
}

nav.sli ul li ul {
    background-color: #f8f9fa;
}

#sidebar{
    backgound-color: rgba(28, 65, 83, 255);
}

}
#sidebar ul li {
    cursor: pointer;
    outline: 0px solid;
    outline-color: rgb(235,141,5);
    transition: ease 500ms cubic-bezier(0.2, 0, 0, 0.8);
}

#sidebar ul li:hover {
    color: rgb(235,141,5);
    outline: 10px solid;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 20px;
    background-color: rgb(235,141,5);
}

#sidebar ul li ul {
    color: #fff;
    cursor: pointer;
    outline: 0 solid;
    outline-color: rgb(235,141,5);
    transition: all 500ms cubic-bezier(0.2, 0, 0, 0.8);
    background-color: rgb(235,141,5);
}

#sidebar ul li ul li:hover {
    color: rgb(235,141,5);
    outline: 10px solid;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 20px;
    /*background-color: rgba(255, 255, 255, .50);*/
}

.blr {
    animation-name: blr;
    animation-duration: .8s;
}

.blr2 {
    animation-name: blr2;
    animation-duration: 1s;
}

.blr3 {
    animation-name: blr3;
    animation-duration: .5s;
}

nav.sli ul {
    list-style: none;
}

nav.sli ul li {
    display: inline-block;
}

nav.sli ul li ul li {
    display: inline;
}

nav.sli ul li a,
nav.sli ul li a:after,
nav.sli ul li a:before {
    transition: all .5s;
}

nav.sli ul li a:hover {
    color: rgb(235,141,5);
}


/* sli */

nav.sli ul li a,
nav.fill ul li a {
    position: relative;
}

nav.sli ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(235,141,5);
    height: 3px;
}

nav.sli ul li a:hover:after {
    width: 100%;
}

@media screen and (max-width: 600px) {
    nav.sli ul {
        list-style: none;
    }
    nav.sli ul li {
        display: inline-block;
    }
    nav.sli ul li ul li {
        display: block;
    }
    nav.sli ul li a,
    nav.sli ul li a:after,
    nav.sli ul li a:before {
        transition: all .5s;
    }
    nav.sli ul li a:hover {
        color: rgb(235,141,5);
    }
    nav.sli ul li a,
    nav.fill ul li a {
        position: relative;
    }
    nav.sli ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 0%;
        content: '.';
        color: transparent;
        background: rgb(235,141,5);
        height: 3px;
    }
    nav.sli ul li a:hover:after {
        width: 100%;
    }
}
