@keyframes blr {
    from{
        filter: blur(30px);
        transform: translateX(-1000px);
    }to{
        filter: blur(0px);
        transform: translateX(0);
    }
}
@keyframes blr2 {
    from{
        filter: blur(30px);
      
    }to{
        filter: blur(0px);
    }
}
@keyframes blr3 {
    from{
        transform: translateX(-1000px);
      
    }to{
        transform: translateX(0);
    }
}
#sidebar ul li:hover{
    background-color: rgba(0, 59, 250, .50);
  }

.blr{
    animation-name: blr;
    animation-duration: .8s;
}
.blr2{
    animation-name: blr2;
    animation-duration: 1s;
   
}
.blr3{
    animation-name: blr3;
    animation-duration: .5s;
   
}

  nav.sli ul {
    list-style: none;
    
    
  }
  nav.sli ul li {
    display: inline-block;
  }
  nav.sli ul li ul li {
    display: inline;
  }
  nav.sli ul li a,
  nav.sli ul li a:after,
  nav.sli ul li a:before {
    transition: all .5s;
  }
  nav.sli ul li a:hover {
    color: #003b96;
  }
  
 
  
  /* sli */
  nav.sli ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.sli ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #003b96;
    height: 3px;
  }
  nav.sli ul li a:hover:after {
    width: 100%;
  }
  @media screen and (max-width: 600px){
    nav.sli ul {
        list-style: none;
      }
      nav.sli ul li {
        display: inline-block;
      }
      nav.sli ul li ul li {
        display: block;
      }
      nav.sli ul li a,
      nav.sli ul li a:after,
      nav.sli ul li a:before {
          transition: all .5s;
      }
      nav.sli ul li a:hover {
        color: #003b96;
      }
      
      nav.sli ul li a,
      nav.fill ul li a {
        position: relative;
      }
      nav.sli ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 0%;
        content: '.';
        color: transparent;
        background: #003b96;
        height: 3px;
      }
      nav.sli ul li a:hover:after {
        width: 100%;
      }
}

  
 

